.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.event-label {
    text-align: center;
    font-size: 2.5rem;
}

.role-label {
    text-align: center;
    font-size: 1.1rem;
}

.main-button {
    width: 400px;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    background-color: #1ABC9C;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.05s;
}

    /* Hover generale */
    .main-button:hover {
        background-color: #16a085; /* leggermente più scuro */
    }

    /* Piccolo effetto click */
    .main-button:active {
        transform: scale(0.98);
    }

    .main-button.green {
        background-color: #2e7d32;
    }

        .main-button.green:hover {
            background-color: #1b5e20;
        }

    /* Logout */
    .main-button.logout {
        background-color: #e53935;
        color: white;
    }

        .main-button.logout:hover {
            background-color: #c62828;
        }

/* Light theme override */
@media (prefers-color-scheme: light) {
    .main-button.logout {
        background-color: #e53935;
        color: white;
        border: none;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    .main-button.logout {
        background-color: #ef5350;
        color: white;
    }
}

/* Responsive */
@media (max-width: 800px) {
    .home-container {
        width: 100%;
        padding: 10px;
    }

    .main-button {
        width: 100%;
    }
}

/* Nuovo pulsante per cartella Google Drive */
.main-button.blue {
    background-color: #1976d2; /* blu dolce */
    color: white;
}

    .main-button.blue:hover {
        background-color: #1565c0; /* leggermente più scuro al passaggio del mouse */
    }
    .main-button.blue:active {
        transform: scale(0.98);
    }