@page "/inserisciIscrizione"
@using IscrizioneManager.Core.Utils
<link href="css/InserisciIscrizione.css" rel="stylesheet" />

<div class="header-iscrizione">
    <h2>Nuova Iscrizione</h2>
    <button class="btn-chiudi" @onclick="TornaIndietro" title="Chiudi">×</button>
</div>

<ModuloIscrizioneView FormModel="newIscrizione" OnSubmitCallback="SalvaIscrizione" IsSubmitting="IsSubmitting" IsReadOnly="IsReadOnly" />

@if (showErrorPopup)
{
    <div class="error-popup-overlay">
        <div class="error-popup-content">
            <button class="error-popup-close" @onclick="CloseErrorPopup">×</button>
            <h3>Errore durante il salvataggio</h3>
            <p style="white-space: pre-wrap;">@errorMessage</p>
        </div>
    </div>
}

@if (succededPopup)
{
    <div class="succeded-popup-overlay">
        <div class="succeded-popup-content">
            <h3>Salvataggio completato</h3>
            <p>Vuoi inserire un'ulteriore iscrizione?</p>
            <div class="popup-buttons">
                <button class="btn-yes" @onclick="InserisciNuova">Sì</button>
                <button class="btn-no" @onclick="TornaIndietro">No</button>
            </div>
        </div>
    </div>
}

@code {
    private ModuloIscrizioneDto newIscrizione = new();

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private bool showErrorPopup = false;
    private bool succededPopup = false;
    private string errorMessage = string.Empty;
    private bool IsReadOnly = false;
    private bool IsSubmitting = false;

    private async Task SalvaIscrizione(ModuloIscrizioneDto model)
    {
        IsSubmitting = true; // disabilita il form
        IsReadOnly = true;
        bool succeded = false;
        try
        {
            var validate = ModuloIscrizioneValidator.Validate(model);
            if (validate != "")
                throw new Exception(validate);

            if (model.IdBambino != null)
            {
                succeded = await IscrizioneCompletaController.UpdateAsync(model);
            }
            else
            {
                succeded = await IscrizioneCompletaController.CreateAsync(model);
            }

            if(succeded){
                succededPopup = true; // mostra popup di successo
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message; // salva il messaggio da mostrare
            showErrorPopup = true;      // mostra popup
            Console.WriteLine($"Errore durante il salvataggio: {ex.Message}");
        }

        if (succeded)
        {
            Console.WriteLine($"Salvata iscrizione: {model.Nome} {model.Cognome}");
        }

        IsSubmitting = false;
        IsReadOnly = false;
    }

    private void InserisciNuova()
    { 
        Navigation.NavigateTo("inserisciIscrizione", true); // ricarica la pagina per inserire una nuova iscrizione
    }

    private void CloseErrorPopup()
    {
        showErrorPopup = false;
        errorMessage = string.Empty;
    }

    private void TornaIndietro()
    {
        Navigation.NavigateTo("", true);
    }
}